<mat-card class="details-card">
  <mat-card-title class="card-title">

    <div class="contained">
      <div class="avatar" style="">{{generateInitials()}}</div>
      <h2 class="personal-details-heading">Personal Information</h2>
    </div>

  </mat-card-title>

  <mat-card-content class="card-content">
    <ul class="list-of-details">
      <li>FIRST NAME:  <span class="details-span">{{user?.name | titlecase}}</span></li>
      <hr/>
      <li>LAST NAME: <span class="details-span">{{user?.surname | titlecase}}</span></li>
      <hr/>
      <li>EMAIL: <span class="details-span">{{user?.email}}</span></li>
      <hr/>
      <li>PHONE NUMBER: <span class="details-span">{{user?.phoneNumber}}</span></li>
      <hr/>
      <li>ID NUMBER: <span class="details-span">{{user?.idNumber}}</span></li>
      <hr/>

    </ul>
  </mat-card-content>

  <mat-card-actions>
    <button class="update-btn" mat-flat-button [routerLink]="['/update-user', user?.id]">Update</button>
  </mat-card-actions>

</mat-card>
