body {
  margin: 0;
  padding: 0;
}

.enviro-container{
  display: flex;
  height: 100vh;
}

.enviro-bank-invalid-credentials{
  width: 98%;
}

.left-container{
  background-color: #03a9f4;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}

.left-container-company-name{
  color: white;
}

.left-container-info{
  display: flex;
  list-style-type: none;
  padding: 0;
}

a{
  color: white;
  padding-right: 25px;
  text-decoration: none;
}

.right-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15% 0 8%;
}

.enviro-form-container-heading{
  color: grey;
  font-size: 21px;
  margin-bottom: 30px;
  margin-right: auto;
}

span{
  color: #03a9f4;
}

.internal-form-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
  margin: auto;

}

.enviro-bank-forgotPassword{
  color: #1f1f1f;
}

.sign-in-btn{
  background-color: #03a9f4 !important;
  color: #FFFFFF;
  padding: 25px;
  cursor: pointer;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  border-radius: 0;
  font-size: 19px;

}

.enviro-bank-forgotPassword{
  margin-left: 320px;
}
