.password-body{
  background-color: #F3F3F3;

}
.change-password-container{
  padding: 130px 0 90px 0;
}

.password-card{
  width: 40%;
  border-radius: 0;
  padding: 30px 40px;
  margin: auto;
}

.enviro-bank-full-width{
  width: 100%;
}

.container-heading{
  font-weight: 500;
  font-size: 25px;
  padding: 0 0 20px 14px;
  color: #03a9f4;
}

.password-policy{
  margin: auto auto auto 20px;
}


.form-button{
  background-color: #03a9f4 !important;
  width: 40%;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 0;
  padding: 23px 0;
  font-weight: 500;
  font-size: 19px;
}
