<app-navbar></app-navbar>
<body class="password-body">

  <div class="change-password-container">
    <form class="form-card-container" [formGroup]="changePasswordFormGroup">
      <mat-card class="password-card">

        <mat-card-title>
          <h3 class="container-heading">Change Password</h3>
        </mat-card-title>

        <mat-card-content class="form-content">

          <div class="enviro-bank-invalid-credentials" *ngIf="uniquePassword">
            New password must be different from old password.
          </div>

          <div class="enviro-bank-invalid-credentials" *ngIf="passwordMismatch">
            Passwords don't match.
          </div>

          <div class="enviro-bank-invalid-credentials" *ngIf="strongPasswordPolicy">
            New password does not conform with the password policy.
          </div>

          <mat-form-field class="enviro-bank-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="newPassword">
          </mat-form-field>

          <mat-form-field class="enviro-bank-full-width">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
          </mat-form-field>
        </mat-card-content>

        <p class="password-policy">Make sure it's at least 8 characters or at most 15 characters long including a number and a lowercase letter. <a class="learn-more-link" href="#">Learn more.</a></p>

        <mat-card-actions>
          <button mat-flat-button color="primary" class="form-button" (click)="changePassword()">
            Change password
          </button>
        </mat-card-actions>

      </mat-card>





    </form>
  </div>
</body>
