
body{
  background-color: #F9F7F5;
}

.enviro-container{
  display: flex;
  height: 100vh;
}

a{
  color: white;
  padding-right: 25px;
  text-decoration: none;
}

.add-new-client-container{
  /*width: 70%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
  /*padding: 0 15% 0 8%;*/

}


.add-client-card{
  width: 50%
}

.form-field-width{
  width: 100%

}

.enviro-form-container-heading{
  color: black;
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: 500;
  padding: 0 0 0 20px;
}


.right-container-form{
  display: flex;
  flex-direction: column;

}

.form-button{
  background-color: #03a9f4 !important;
  width: 40%;
  margin-left: auto;

}

.add-client-card{
  margin: auto;
}
