body{
  background-color: #F9F7F5;
}

.enviro-container{
  display: flex;
  height: 100vh;
}

.enviro-form-container-heading{
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}

.transfer-card{
  width: 40%;
  margin: auto;
  padding-top: 100px;
}

.card-container{
  border-radius: 0;
}

.form-button{
  background-color: #03a9f4 !important;
  width: 100%;
  margin-right: auto;
  font-size: 19px;
  font-weight: 500;
  border-radius: 0;
  padding: 25px;
}

.transfer-btn{
  margin-left: auto;
  width: 30%;
  padding: 0 15px 10px 0;
}
