<main>
  <div class="enviro-container">

    <div class="left-container">
      <h1 class="left-container-company-name">Enviro Bank</h1>
      <ul class="left-container-info">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="right-container">

      <form [formGroup]="transferFundsFormGroup" class="right-container-form">
        <h3 class="enviro-form-container-heading">Transfer Funds</h3>
        <mat-form-field class="enviro-bank-full-width">
          <mat-label>Account Number</mat-label>
          <input type="text" matInput placeholder="Account number" formControlName="accountNum">
        </mat-form-field>

        <mat-form-field class="enviro-bank-full-width">
          <mat-label>Receiver Account Number</mat-label>
          <input type="text" matInput placeholder="Account number" formControlName="receiverAccountNum">
        </mat-form-field>

        <mat-form-field class="enviro-bank-full-width">
          <mat-label>Type of Transaction</mat-label>
          <input type="text" matInput placeholder="Transaction type" formControlName="typeOfTransaction">
        </mat-form-field>

        <mat-form-field class="enviro-bank-full-width">
          <mat-label>Amount</mat-label>
          <input type="text" matInput placeholder="R" formControlName="transactionAmount">
        </mat-form-field>

        <button mat-flat-button color="primary" class="form-button" (click)="transfer()">Transfer</button>
      </form>

    </div>
  </div>
</main>
