main{
  margin: 0;
  padding: 0;
}


.enviro-container{
  display: flex;
  height: 100vh;
}

.left-container{
  background-color: #03a9f4;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}

.left-container-company-name{
  color: white;
}

.left-company-info{
  display: flex;
  list-style-type: none;
  padding: 0;
}

a{
  color: white;
  padding-right: 25px;
  text-decoration: none;
}

.right-container{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15% 0 8%;
  background-color: #F9F7F5;
}

.right-container-heading{
  color: #03a9f4;
  font-size: 26px;
  margin-right: auto;
  margin-bottom: 30px;
}

.enviro-bank-invalid-credentials {
  width: 50%;
  background-color: #acd2cc;
  color: #2d2f31;
  border-radius: 0;
  font-weight: 500;
  margin: auto;
}

.card-title-heading{
  margin-left: 18px;
}

.enviro-form-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  padding-left: 70px;
}


button{
  padding: 29px;
  background-color: #03a9f4 !important;
  color: #FFFFFF;
  border-radius: 0;
  font-size: 18px;
  cursor: pointer;
  margin-right: auto;
  width: 100%;
}
