<main>
  <div class="enviro-container">

    <div class="left-container">
      <h1 class="left-container-company-name">Enviro Bank</h1>
      <ul class="left-company-info">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="right-container">

      <form class="enviro-form-container" [formGroup]="resetPasswordFormGroup">
        <h3 class="right-container-heading">Reset Password</h3>
        <div class="enviro-bank-invalid-credentials" *ngIf="invalidCredentials">
          Invalid Credentials.
        </div>
        <mat-form-field class="enviro-bank-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="resetPassword()">
          Reset password
        </button>
      </form>

    </div>


  </div>
</main>
