
.dialog-box__title{
  font-weight: 500;
  font-size: 20px;

}

.dialog-box-content{
  font-weight: 500;
}

.dialog-box-button{
  margin-left: auto;
}

.dialog-box-button-continue{
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: #03a9f4;
}

.dialog-box-button-cancel:hover{
  color: #03a9f4;
}

.dialog-box-button-continue:hover{
  background-color: #03a9f4;
}
