  <mat-card class="dialog-box">
    <mat-card-title class="dialog-box-heading">
      <h1 class="dialog-box__title" mat-dialog-title>{{dialogDetails.title}}</h1>
    </mat-card-title>

    <mat-card-content>
      <div class="dialog-box-content" mat-dialog-content>
        <p>{{dialogDetails.content}}</p>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div class="dialog-box-button" mat-dialog-actions>
        <button *ngIf="!hideContinueButton" class="dialog-box-button-continue" mat-button [mat-dialog-close]="true" (click)="onClickContinue()">Continue</button>
        <button class="dialog-box-button-cancel" mat-button [mat-dialog-close]="false" (click)="onClickCancel()">Cancel</button>
      </div>
    </mat-card-actions>

  </mat-card>

