
.toolbar-heading{
  padding: 0 0 0 38px;
}

.customer-header{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.avatar{
  font-size: 26px;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: green;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.customer-table-heading{
  font-size: 29px;
  font-weight: 500;
  color: black;
  margin-top: 0;


}

.customer-add-client-btn{
  margin-left: auto;
  padding: 25px 50px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: #03a9f4 !important;
  color: #FFFFFF !important;
}

.customer-table{
  width: 90%;
  margin: auto;
  padding: 80px 0;

}

.customer-container{
  background-color: #F9F7F5;
}

