<app-navbar></app-navbar>
<body>

<div class="card-collection">
  <div class="details-card-container">
    <mat-card class="details-card">
      <mat-card-title class="card-title">
        <h2>Personal Information</h2>
        <div class="contained">
          <div class="avatar" style="">{{generateInitials()}}</div>
          <button class="update-btn" mat-flat-button [routerLink]="['/update-details', user?.id]">Update</button>
        </div>

      </mat-card-title>

      <mat-card-content class="card-content">
        <ul class="list-of-details">
          <li>First Name: {{user?.name | titlecase}}</li>
          <li>Last Name: {{user?.surname | titlecase}}</li>
          <li>E-mail: {{user?.email}}</li>
          <li>Phone Number: {{user?.phoneNumber}}</li>
          <li>ID Number: {{user?.idNumber}}</li>

        </ul>
      </mat-card-content>

    </mat-card>
  </div>

</div>


</body>
