body{
  background-color: #F9F7F5;
}

.details-card-container {
  padding-top: 10px;
  width: 65%;
  margin: auto;
}

.card-collection{
  padding-top: 50px;
  width: 80%;
  margin: auto;
}

.back-btn{
  margin-left: 29.5%;
  padding-top: 2%;
}
