.account-body{
  background-color: #F9F7F5;
}


.add-client-card{
  margin: auto;
}

.account-cards-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-top: 80px;
}


.accounts-heading{
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 20px;
  color: black;
}
