<app-navbar></app-navbar>

<body class="account-body">
  <div class="account-cards-container">
    <h2 class="accounts-heading">Accounts</h2>

    <app-account-cards></app-account-cards>
<!--    <div class="account-cards" *ngFor="let account of accounts">-->
<!--      <mat-card class="account-card">-->
<!--        <mat-card-title class="account-card-title">{{account.accountType}} ACCOUNT</mat-card-title>-->

<!--        <mat-card-content class="account-card-content-container">-->
<!--          <div class="content-body">-->
<!--            <div class="account-card-available-balance">-->
<!--              Available Balance: {{account.accountBalance | currency: 'R'}}-->
<!--            </div>-->
<!--            <div class="account-card-latest-balance">-->
<!--              Latest Balance: {{account.accountBalance | currency: 'R'}}-->
<!--            </div>-->
<!--          </div>-->

<!--          <button class="account-transfer-button" mat-flat-button (click)="transferFunds()">Transfer</button>-->
<!--        </mat-card-content>-->

<!--      </mat-card>-->
<!--    </div>-->
  </div>
</body>




