<app-navbar></app-navbar>

<body>
  <div class="personal-details-container">
    <mat-card class="details-card">
      <mat-card-content class="personal-details">
        <div class="avatar">{{initials}}</div>
        <p>{{customer?.name | titlecase}} {{customer?.surname | titlecase}}</p>
        <p>{{customer?.email}}</p>
        <p>09876543</p>
      </mat-card-content>
    </mat-card>
  </div>

<mat-card>
  <mat-card-title>
    <h2>Accounts</h2>
  </mat-card-title>

  <mat-card-content>

  </mat-card-content>
</mat-card>




</body>
