<app-navbar></app-navbar>

<body>
  <div class="transactions-container">
    <div class="personal-details-container">
      <mat-card class="details-card" *ngIf="showPersonalDetails">
        <mat-card-content class="personal-details">
          <div class="avatar">{{initials}}</div>
          <p>{{customer?.name | titlecase}} {{customer?.surname | titlecase}}</p>
          <p>{{customer?.email}}</p>
          <p>09876543</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="user-bank-details">
      <div class="accounts-container">
        <mat-card class="accounts-card">
          <mat-card-title class="card-heading">
            <h2>Accounts</h2>
            <hr/>
          </mat-card-title>

          <mat-card-content class="card-content">
            <div class="account-details" *ngFor="let account of accounts">
              <!--          <hr/>-->
              <div class="account-type-heading">{{account.accountType}} ACCOUNT</div>
              <div>Available Balance: {{account.accountBalance | currency: 'R '}}</div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <div class="account-transaction-container">
        <mat-card class="transactions-card">
          <mat-card-content>
            <div class="specific-account-details" *ngFor="let account of singleAccount">

              <h3 class="account-heading">{{account.accountType}} ACCOUNT</h3>
              <div class="amounts">
                <div>Available Balance: {{account.accountBalance | currency: 'R '}}</div>
                <div class="latest-balance-amount">Latest Balance: {{account.accountBalance | currency: 'R '}}</div>
              </div>

            </div>
            <hr />
            <div class="account-specific-transactions">
              <h3>Transactions</h3>
              <div class="empty-transactions" *ngIf="noTransactions">No history transactions in this account.</div>
              <div class="transaction" *ngFor="let transaction of transactions">
                <div>{{transaction.dateOfTransaction | date: 'd MMMM y'}}</div>
                <div class="transaction-details">
                  <div>Transfer From: Current Account</div>
                  <div class="amount">+ {{transaction.transactionAmount}}</div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</body>
