body{
  background-color: #F9F7F5;
}

.transactions-container{
  width: 85%;
  margin: auto;
}


.avatar{
  font-size: 26px;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border-color: #03a9f4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: thin;
}


.personal-details-container{
  padding-top: 30px;
}


.details-card{
  width: 90%;
  margin: auto;
  border-radius: 0;
}


.personal-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 19px;
}


.accounts-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 72px;
  margin-top: 60px;
}


.accounts-card{
  font-weight: 500;
  border-radius: 0;
}


.card-heading{
  padding: 0 20px 0 20px;
}


.card-content{
  padding-top: 10px;
}


.account-details{
  padding-bottom: 35px;
}


.account-type-heading{
  padding-bottom: 10px;
}


.user-bank-details{
  display: flex;
  flex-direction: row;
}


.account-transaction-container{
  width: 55%;
  margin: auto;
  height: 60vh;
  margin-top: 60px;
}


.transactions-card{
  border-radius: 0;
  height: 60vh;
}
