<app-navbar></app-navbar>
<body>

  <div class="view-account-container">
    <div class="details-card-container">
      <mat-card class="details-card">
        <mat-card-title class="card-title">
          <h2>Personal Information</h2>

          <div class="contained">
            <div class="avatar">{{initials}}</div>
            <button class="update-btn" mat-flat-button [routerLink]="['/update-details', customer?.id]">Update</button>
          </div>

        </mat-card-title>

        <mat-card-content class="card-content">
          <ul class="list-of-details">
            <li>First Name: {{customer?.name | titlecase}}</li>
            <li>Last Name: {{customer?.surname | titlecase}}</li>
            <li>E-mail: {{customer?.email}}</li>
            <li>Phone Number: {{customer?.phoneNumber}}</li>
            <li>ID Number: {{customer?.idNumber}}</li>

          </ul>
        </mat-card-content>

      </mat-card>
    </div>

    <div class="account-card-container">
      <h2 class="accounts-heading" *ngIf="viewAccounts">Accounts</h2>

      <div class="account-details-container" *ngFor="let account of accounts">

        <mat-card class="account-card">
          <mat-card-title class="account-card-title" [routerLink]="['/view-transactions', account.accountNum, customer?.id]">
            {{account.accountType}} ACCOUNT
          </mat-card-title>

          <mat-card-content class="account-card-content">
            <div class="account-card-content-container">
              <div class="account-card-available-balance">
                Available Balance: {{account.accountBalance | currency: 'R'}}
              </div>
              <div class="account-card-latest-balance">
                Latest Balance: {{account.accountBalance | currency: 'R'}}
                <button class="account-transfer-button" mat-flat-button (click)="transferFunds()">Transfer</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>



</body>
