body {
  background-color: #F9F7F5;
}

.view-account-container {

}

.details-card-container {
  padding-top: 25px;
  width: 80%;
  z-index: -1;
  margin: 0 auto auto;
}


.account-card-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 10px auto auto;

}

