body{
  background-color: #F9F7F5;
}

.personal-details-container{
  padding-top: 40px;
}

.personal-details-card{
  width: 90%;
  margin: auto;
  border-radius: 0;
  font-weight: 500;
  font-size: 20px;

}

.avatar{
  font-size: 26px;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #03a9f4;
  border-width: thin;
}

.user-name{
  padding-top: 20px;
}

.user-email{
  padding-top: 20px;
}

.account-number{
  padding-top: 20px;
}

.accounts-card{
  border-radius: 0;
  width: 30%;
  padding: 20px 0 40px 20px;

}

.account-details-container{
  padding: 50px 0 0 100px;
}

hr{
  border: 0;
  display:block;
  width: 100%;
  background-color: white;
  height: 1px;
}

.user-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
