body{
  background-color: #F9F7F5;
}

.personal-details-container{
  padding-top: 40px;
}

.list-of-details{
  list-style-type: none;
}

.view-account-container{
  width: 80%;
  margin: auto;
}

.personal-details-card{
  width: 90%;
  margin: auto;
  border-radius: 0;
  font-weight: 500;
  font-size: 20px;
}

.contained{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.update-btn{
  padding: 10px 20px;
  margin-right: 25px;
  border-style: solid;
  border-color: #03a9f4;
  border-width: thin;
}

.details-card-container{
  padding-top: 50px;
  width: 90%;
  margin: auto;

}

.details-card{
  border-radius: 0;
}

.card-title{
  padding-left: 20px;
  font-weight: 500;
}

.card-content{
  padding: 0 0 0 250px;
  font-size: 20px;
}

.avatar{
  font-size: 26px;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: #03a9f4;
  border-width: thin;
}

.account-card-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.account-details-container{
  padding-bottom: 20px;
  font-weight: 400;
}

.account-card-title{
  font-size: 20px;
  padding: 10px 0 10px 15px;
  cursor: pointer;
}

.account-card-content{
  font-size: 18px;
}

.account-card {
  padding: 0 0 20px;
  background-color: #FFFFFF;
  border-radius: 0;
}

.account-card-content-container {
  display: flex;
  flex-direction: row;
}

.account-card-available-balance {
  padding: 10px 10px 0 0;
}

.account-card-latest-balance{
  padding: 3px 0 0 300px;
}

.account-transfer-button{
  margin: 0 0 0 500px;
  border-style: solid;
  border-radius: 0;
  border-color: #03a9f4;
  padding: 10px 40px;
  font-size: 16px;
}

