/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.enviro-bank-full-width{
  width: 100%;
}

.enviro-bank-invalid-credentials{
  background: #EDB9C8;
  color: #BD2E38;
  padding: 14px 10px;
  margin-bottom: 10px;
}

.success-snackbar > div{
  background-color: #378805 !important;
  color: green !important;
}
