<div class="enviro-container">

  <div class="left-container">
    <h1 class="left-container-company-name">Enviro Bank</h1>
    <ul class="left-container-info">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>

  <div class="right-container">
    <form class="form-card-container" [formGroup]="changePasswordFormGroup">

      <h3 class="container-heading">Change Password</h3>

      <div class="enviro-bank-invalid-credentials" *ngIf="invalidCredentials">
        Password already exists.
      </div>
      <mat-form-field class="enviro-bank-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="newPassword">
      </mat-form-field>

      <mat-form-field class="enviro-bank-full-width">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
      </mat-form-field>

      <button mat-flat-button color="primary" class="form-button" (click)="changePassword()">
        Change password
      </button>

    </form>
  </div>

</div>

