<div class="enviro-container">

  <div class="left-container">
    <h1 class="left-container-company-name">Enviro Bank</h1>
    <ul class="left-container-info">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>

  <div class="right-container">
    <form class="form-card-container" [formGroup]="changePasswordFormGroup">

      <h3 class="container-heading">Change Password</h3>

      <div class="enviro-bank-invalid-credentials" *ngIf="invalidCredentials">
        New password must be different from old password.
      </div>

      <div class="enviro-bank-invalid-credentials" *ngIf="passwordMismatch">
        Passwords don't match.
      </div>

      <div class="enviro-bank-invalid-credentials" *ngIf="linkExpired">
        Change password link has expired.
      </div>

      <div class="enviro-bank-invalid-credentials" *ngIf="strongPasswordPolicy">
        New password does not conform with the password policy.
      </div>

      <mat-form-field class="enviro-bank-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="newPassword">
      </mat-form-field>

      <mat-form-field class="enviro-bank-full-width">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword">
      </mat-form-field>

      <p class="password-policy">Make sure it's at least 8 characters or at most 15 characters long including a number and a lowercase letter. <a class="learn-more-link" href="#">Learn more.</a></p>

      <button mat-flat-button color="primary" class="form-button" (click)="changePassword()">
        Change password
      </button>

    </form>
  </div>

</div>

