<main>
  <div class="enviro-form-container">
    <form [formGroup]="resetPasswordFormGroup">
      <div class="enviro-bank-invalid-credentials" *ngIf="invalidCredentials">
        Invalid Credentials.
      </div>
      <mat-form-field class="enviro-bank-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary" (click)="resetPassword()">
      Reset password
    </button>
  </div>
</main>
